$gutter: 0.625rem !default;
$space-scales: 0, 0.25, 0.625, 1, 1.25, 2, 3, 4, 5 !default;

@import 'primeflex/primeflex.scss';

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@mixin text-clamp($lines: 2, $line-height: false) {
  display: -webkit-box;
  overflow: hidden;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  word-break: break-all;
  @if $line-height {
    max-height: $line-height * $lines * 1rem;
  }
}

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Pretendard', Pretendard, sans-serif;
}

.pandora {
  &-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &__logo {
      width: 200px;
      height: 52px;
      margin: 0 0 37px 0;
      background: url(../assets/images/logo.png);
      background-size: cover;
      font-size: 0;
    }
    &__form {
      width: 430px;
      margin: 0 auto;
      .p-inputtext {
        margin-top: 10px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    &-save {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0 50px 0;
      &__text {
        a {
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #555;
          text-decoration: none;
        }
      }
    }
    &__button {
      .p-button {
        margin-top: 12px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  &-dashboard {
    i {
      &.ico {
        &-manage {
          display: block;
          width: 36px;
          height: 36px;
          background: url(../assets/images/manage_accounts.svg);
          background-size: cover;
        }
      }
      &.ico {
        &-book {
          display: block;
          width: 36px;
          height: 36px;
          background: url(../assets/images/menu_book.svg);
          background-size: cover;
        }
      }
      &.ico {
        &-download {
          display: block;
          width: 36px;
          height: 36px;
          background: url(../assets/images/sim_card_download.svg);
          background-size: cover;
        }
      }
      &.ico {
        &-chart {
          display: block;
          width: 36px;
          height: 36px;
          background: url(../assets/images/bar_chart_4_bars.svg);
          background-size: cover;
        }
      }
      &.ico {
        &-move {
          display: block;
          width: 36px;
          height: 36px;
          background: url(../assets/images/move_down.svg);
          background-size: cover;
        }
      }
      &.ico {
        &-note {
          display: block;
          width: 36px;
          height: 36px;
          background: url(../assets/images/sticky_note_2.svg);
          background-size: cover;
        }
      }
    }
    &-header {
      &__head {
        position: relative;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        padding: 30px 40px 26px;
        background-color: #f5f5f5;
      }
      &__logo {
        width: 160px;
        height: 42px;
        background: url(../assets/images/logo.png);
        background-size: cover;
        font-size: 0;
      }
      &__button {
        display: flex;
        align-items: center;
        a {
          margin-left: 20px;
        }
      }
      &__menu {
        display: block;
        width: 30px;
        height: 30px;
        background: url(../assets/images/menu.svg);
        background-size: cover;
        font-size: 0;
        cursor: pointer;
      }
      &__search {
        display: block;
        width: 30px;
        height: 30px;
        background: url(../assets/images/search.svg);
        background-size: cover;
        font-size: 0;
      }
      &__user {
        display: block;
        width: 30px;
        height: 30px;
        background: url(../assets/images/account_circle.svg);
        background-size: cover;
        font-size: 0;
      }
      &-menu {
        position: absolute;
        z-index: 90;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        padding: 100px 100px 100px 70px;
        box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.15);
        background-color: rgba(245, 245, 245, 0.98);
        transform: translateY(-100%);
        transition: all 0.4s ease;
        &__form {
          min-width: 277px;
          width: 277px;
          margin-right: 90px;
          .p-inputtext {
            padding-left: 70px;
            background: #fff url(../assets/images/menu_search.svg) no-repeat
              12px 50%;
            box-shadow: none;
          }
          .p-button {
            margin-top: 8px;
          }
        }
        &-gnb {
          display: flex;
          width: 100%;
          h4 {
            margin: 0;
            font-size: 26px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #888;
            white-space: noWrap;
          }
          &__item {
            width: 100%;
            margin-left: 100px;
            &:first-child {
              margin-left: 0;
            }
            dl {
              margin-top: 30px;
              dt {
                padding-bottom: 10px;
                font-size: 18px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #444;
                white-space: noWrap;
              }
              dd {
                margin: 0;
                padding: 0;
                ul {
                  margin: 0;
                  padding: 0;
                  li {
                    margin: 10px 0 0 0;
                    padding: 0;
                    list-style: none;
                    a {
                      text-decoration: none;
                      font-size: 16px;
                      font-weight: 300;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: normal;
                      letter-spacing: normal;
                      text-align: left;
                      color: #444;
                      white-space: noWrap;
                    }
                  }
                }
              }
            }
          }
          &__grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
          }
        }
      }
    }
    &--menu & {
      &-header {
        &__head {
          border-bottom: 1px solid #999;
        }
        &-menu {
          top: 98px;
          transform: translateY(0);
        }
      }
    }
    &-body {
      height: calc(100vh - 98px);
      padding: 0 40px 10px;
    }
    &-user {
      position: relative;
      height: 100%;
      padding: 44px 40px 30px;
      border-radius: 8px;
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
      background-image: linear-gradient(148deg, #4a9eda 11%, #4a83da 76%);
      &__head {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        p {
          margin: 0;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: -0.32px;
          text-align: left;
          color: rgba(255, 255, 255, 0.6);
          strong {
            display: block;
            margin-bottom: 10px;
            font-size: 26px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.52px;
            text-align: left;
            color: #fff;
          }
        }
      }
      &__user {
        display: block;
        width: 40px;
        height: 40px;
        background: url(../assets/images/account_circle_white.svg);
      }
      &__alarm {
        padding: 22px 0 0 0;
        ul {
          margin: 0;
          padding: 0;
          li {
            display: flex;
            margin: 18px 0;
            padding: 0;
            &::before {
              content: '';
              display: block;
              width: 4px;
              height: 4px;
              margin: 10px 8px 10px 0;
              background-color: #fff;
              border-radius: 4px;
            }
            a {
              text-decoration: none;
              font-size: 20px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: -0.4px;
              text-align: left;
              color: #fff;
              @include text-clamp(1);
            }
          }
        }
      }
    }
    &-favorites {
      width: 100%;
      height: 100%;
      padding: 44px 39px 0 40px;
      border-radius: 8px;
      background-color: #586fbf;
      &__title {
        margin-bottom: 40px;
        font-size: 26px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.52px;
        text-align: left;
        color: #fff;
      }
      &__link {
        a {
          height: 45px;
          display: inline-flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 0 8px 14px 0;
          padding: 0 26px;
          border-radius: 50px;
          background-color: rgba(255, 255, 255, 0.14);
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: -0.36px;
          text-align: left;
          color: #fff;
          text-decoration: none;
        }
      }
    }
    &-board {
      height: 100%;
      padding: 44px 40px;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        font-size: 26px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.52px;
        text-align: left;
        color: #888;
        a {
          width: 24px;
          height: 24px;
          background: url(../assets/images/arrow_forward_ios.svg);
          font-size: 0;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
          list-style: none;
          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.36px;
            text-align: left;
            color: #444;
            p {
              margin: 9px 0;
              @include text-clamp(1);
            }
            span {
              margin-left: 30px;
              font-size: 18px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: -0.36px;
              text-align: right;
              color: #c5c5c5;
            }
          }
        }
      }
    }
    &-chart {
      height: 100%;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
      background-color: #fff;
      &__title {
        margin-bottom: 30px;
        font-size: 26px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.52px;
        text-align: left;
        color: #888;
      }
    }
    &-menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 18px;
      column-gap: 18px;
      padding: 32px 80px;
      border-radius: 8px;
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
      background-color: #fff;
      a {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: left;
        color: #777;
        text-decoration: none;
        i {
          margin-right: 10px;
        }
      }
    }
    &__row {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-bottom: 10px;
    }
  }
  &-detail {
    padding: 0 25px 30px;
    &-menu {
      height: 70px;
      margin-bottom: 24px;
      padding: 5px 15px 0;
      overflow-y: hidden;
      overflow-x: auto;
      white-space: noWrap;
      /* 스크롤바 스타일링 */
      /* 스크롤바 */
      &::-webkit-scrollbar {
        height: 6px;
      }

      /* 스크롤바 추적 영역 */
      &::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* 스크롤바 배경색 */
      }

      /* 스크롤바 핸들 */
      &::-webkit-scrollbar-thumb {
        background-color: #888; /* 스크롤바 핸들 색상 */
        border-radius: 5px; /* 스크롤바 핸들 모양 */
      }

      /* 활성화된 스크롤바 핸들 */
      &::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* 스크롤바 핸들 마우스 오버 색상 */
      }
      &__close {
        min-width: 20px;
        width: 20px;
        height: 20px;
        margin-left: 10px;
        background: url(../assets/images/close_small.svg);
      }
      .p-button {
        height: 44px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        padding: 0 26px;
        border-radius: 50px;
        border: solid 1px #586fbf;
        background-color: rgba(255, 255, 255, 0.14);
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.32px;
        text-align: left;
        color: #586fbf;
        white-space: noWrap;

        &.active {
          background: #586fbf;
          color: #fff;
          .pandora-detail-menu__close {
            background: url(../assets/images/close_small_white.svg);
          }
        }
      }
    }
    &__body {
      height: calc(100vh - 222px);
      overflow: auto;
      > iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
